/* html elements */

/**
 * The default font size is 16px x 81.3% = 13px
 * Use http://pxtoem.com to calculate proper font size and scale.
 *
 * The font size is set on the html element so we can dynamically
 * resize the font using body classes.
 */
html {
  font-size: .9em;
}
body {
  font-family: arial, "DejaVu Sans", sans-serif;
  line-height: 1.3;
  color:#444444;
}

body #nav-wrapper {
  font-family: Verdana, Geneva, "DejaVu Sans", sans-serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
  line-height:1em;
}

#content h2 {
  margin-bottom:10px;
  margin-top:12px;
}

#content .article-type-course h2 {
	margin-top:0px;
}

h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.077em;
}
h5 {
	font-size: 1em;
}
h6 {
 	font-size: .9em;
}


a img {
  border: none;
}
img {
  max-width: 100%; /* flexible images - can cause issues in table cells where no width is set on the column, only in webkit and IE 7/8 */
  height: auto;
}

/* Image Padding */

.field-item img {
	padding: 0px 10px 10px 10px;
	text-align:right;
}

/* degree page list of degrees ||| for content icon images */
.view-list-of-degrees-on-degree-page .field-name-field-location-offering-icon img {float:left; margin:0px; padding:0px 1px 0px 1px;}
.view-list-of-degrees-on-degree-page .views-field-field-degree-instance-for-image- {font-size:1.385em; font-weight:bold; line-height:1em;}
.view-list-of-degrees-on-degree-page .views-field-field-degree-instance-for-image- a visited{color:#fff;}
.view-list-of-degrees-on-degree-page .views-field-field-degree-instance-for-image- a link{color:#fff;}
.view-list-of-degrees-on-degree-page .views-field-field-degree-instance-for-image- a{color:#fff;}
.view-list-of-degrees-on-degree-page .field-content {color:#fff;}

p {
  margin: 0 0 0.5em;
  padding: 0;
}
em,
dfn {
  font-style: italic;
}
ins {
  border-bottom: none;
  text-decoration: none;
}
pre,
code,
tt,
samp,
kbd,
var {
  font-size: 1em;
  font-family: Consolas, "Lucida Console", Menlo, Monaco, "DejaVu Sans Mono", monospace, sans-serif; /* sans-serif Safari hack */
}
blockquote,
q {
  font-style: italic;
  quotes: "" "";
}
blockquote {
  margin: 0 0 1.5em;
  padding: 0 0 0 3em;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote p {
  margin: 0;
}
strong,
dfn,
caption,
th {
  font-weight: 700;
}

/* Lists */

ul,
ol {
  margin: 0 0 10px;
  padding: 0;
}
.block-content  ul li , .field-items ul li {
	margin-left:20px;
}

.CSS1Compact ul {
  margin: 0 0  40px;
  padding: 20px;
}


.item-list ul,
.item-list ol {
  margin: 0 0 0 15px;
  padding: 0;
}
.item-list ul li {
  margin: 0;
  padding: 0;
}
ul ul,
ul ol,
ol ol,
ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin-bottom: 0;
}
ul {
  list-style-type: disc;
}
ul ul ul {
  list-style-type: square;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: lower-roman;
}
ul ul,
ul ul ul ul {
  list-style-type: circle;
}
dt {
  font-weight: 700;
}
dd {
  margin: 0 0 1.5em 40px;
}


/* Fancy ol lists */

ol{
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
	*list-style: decimal; /* Keep using default numbering for IE6/7 */
	padding: 0;
	margin-bottom: 2em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol{
	margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

ol li{
	position: relative;
	display: block;
	padding: .4em .4em .4em .8em;
	*padding: .4em;
	margin: .5em 0 .5em 2.5em;
	background: #EEE;
	color: #444;
	text-decoration: none;
	transition: all .3s ease-out;	
}


ol li:before{
	content: counter(li);
	counter-increment: li;
	position: absolute;	
	left: -2.5em;
	top: 50%;
	margin-top: -1em;
	background: #F4D073;
	height: 2em;
	width: 2em;
	line-height: 2em;
	text-align: center;
	font-weight: bold;
}

ol li:after{
	position: absolute;	
	content: '';
	border: .5em solid transparent;
	left: -1em;
	top: 50%;
	margin-top: -.5em;
	transition: all .3s ease-out;				
}

ol li:hover:after{
	left: -.5em;
	border-left-color: #F4D073;				
}	



/* Header summary text fix */
#block-views-site-section-title-block-1 p {
	color:#FFF;
}

div.views-slideshow-cycle-main-frame-row-item div.views-field-title span a:link {
	color:#FFF;
}

div.views-slideshow-cycle-main-frame-row-item div.views-field-title span a:visited {
	color:#FFF;
}

/* degree main image padding fix *** UPDATED 7-19-12 *** */
.region #block-system-main .block-inner .block-content .field .field-items .field-item img {
	float:left;
	padding-left:0px;
	margin-left:0px;
}

/* Quicktabs background color on degree pages *** UPDATED 7-19-12 *** */
#quicktabs-container-degree_option_page_quick_tabs {
	background-color:#f5f5f5;
	padding-top:5px;
	padding-bottom:5px;
    -moz-border-radius: 3px;
    border-radius: 3px;	
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}


/* Small Text *** UPDATED 10-2-12 *** */
div .view-degree-potential-job-titles-view th, 
div .view-degree-potential-job-titles-view .view-footer, 
#block-views-related-degrees-er-block .views-field-title, 
#block-views-related-degrees-er-block-1 .views-field-title,
#block-views-related-degrees-er-block-2 .views-field-title,
.view-degree-accreditation,
.view-department-affiliation-er.view-header {
	font-size:.8em;
}

/* format numbered list in sidebar *** UPDATED 8-6-12 *** */
.region-sidebar-second ol {
	padding-left:20px;
}

.region-sidebar-second ol li {
	padding-bottom:10px;
}

/*Footer h2 text */
#footer-wrapper .block-title{
	font-size:2.2em;
}

/* Correct text size for news and events */
#footer-wrapper .region-content-4column-column1 .block-content {
	font-size:1.2em;
	line-height:1em;
}



/* Selective, Elective, and Course page formatting */
.page-type-course-selective-group .field-name-field-course-title,
.page-type-course-elective-group .field-name-field-course-title,
.page-type-course .field-name-field-course-title {
	font-size:1.4em;
	padding-bottom:5px;
}

.page-type-course-selective-group .field-label,
.page-type-course-elective-group .field-label,
.page-type-course .field-label {
	font-size:1.1em;
}


/* User Profile page formatting */
.section-profile .views-field-picture {
	float:right;
}
	/* wraps contact info around profile picture */
.section-profile #block-views-user-profile-block .attachment-after {
	max-width:440px;
	padding-bottom:10px;
}
	/* padding between research projects */
.region-sidebar-second .view-id-user_profile .views-row {
	padding-bottom:3px;
}

	/* Small text on profile page sidebar */
.section-profile .region-sidebar-second .field-content {
	font-size:.82em;
}

.section-profile .region-sidebar-second #block-views-user-profile-block-6 .field-content {
	padding:0 0 2px 0;
}

#block-views-user-profile-block-6 h2 {
	padding-bottom:2px;	
}

	/* space between blocks on profile page sidebar */
.section-profile .region-sidebar-second .block-content {
	padding-bottom:10px;
	line-height:1.1;
}


/* BOTCH user faculty multiple user values (hide location and courses) */
.page-type-facility .attachment td {
	font-size:0px;
	padding-bottom:-5px !important;
}

.page-type-facility .attachment .views-row-first td {
	font-size:1em;	
}

.page-type-facility .attachment tr {
	background:none;
}

.page-type-facility .attachment .views-field-field-faculty-contact {
	font-size:1em;
}

.region-sidebar-second #block-views-research-projects-block-5 h2 {
	font-size:36px;
}

/* YTD awarded on research/research-grants page */
.region-sidebar-second #block-views-research-projects-block-5 span {
	padding-top:0px;
	margin-top:0px;
}


.view-pos-view-of-courses table .views-field-field-sem-1-course,
.view-pos-view-of-courses table .views-field-field-semester-2-courses,
.view-pos-view-of-courses table .views-field-field-semester-3-courses {
	float:left;
	width:24%;
}

.view-pos-view-of-courses table .views-field-field-sem-4-courses {
	float:left;
	clear:right;
	width:24%;
}

.view-pos-view-of-courses table .views-field-field-semester-5-courses {
	float:left;
	clear:left;
	width:24%;
}

.view-pos-view-of-courses table .views-field-field-semester-6-courses,
.view-pos-view-of-courses table .views-field-field-semester-7-courses {
	float:left;
	width:24%;
}

.view-pos-view-of-courses table .views-field-field-semester-8-courses {
	float:left;
	width:24%;
}

/* Styling User Profile page */
.block-quicktabs {
	padding-top:20px;	
}

#block-quicktabs-user-profile-cv-tabs .quicktabs-tabpage ul {
	padding-left:20px;	
}

.block-quicktabs .quicktabs-tabpage .views-field-field-degree-study-abroad ul,
.block-quicktabs .quicktabs-tabpage .views-field-field-degree-specializations1,
.block-quicktabs .quicktabs-tabpage .views-field-field-degree-fees ul{
	padding-left:20px;	
}

.sidebar-box ul, .view-id-right_sidebar_content_field_display ul {
	padding-left:20px;
}

/* Make degree header images always 100% */

.page-type-degree-option #content .field-type-image img {
	min-width:100%;
}