

/*  BASIC SETTINGS */
/*  BASIC SETTINGS */
/*  BASIC SETTINGS */
.section-prospective-students .alt-headline {
	font-family: 'Oxygen', sans-serif; 
	font-weight:bold;
	font-size:10px;
}


.section-prospective-students .super-size {
	font-size:4em;
}

.section-prospective-students .big {
	font-size:2.1em;
}


	/*page setup*/
.section-prospective-students .container {
	width:100%;
	margin: 0 auto;
}
	/*hide white space at the bottom of page*/
.section-prospective-students #article-5189 {
	display:none;	
}

.section-prospective-students #background {
	background-image:url('images/prospective-student-bg.jpg');
	background-repeat:no-repeat;
background-position: top center;	
}
.section-prospective-students .body { 
	max-width:960px; 	
}

.section-prospective-students .block-inner {
	margin:0;
}

.section-prospective-students .section-1-banner {
   position: relative; 
   width: 100%; /* for IE 6 */
   margin-bottom:-5px;
}

.section-prospective-students h2 { 
   position: absolute; 
   top: 50%; 
   left: 3%; 
   width: 97%;
   color:#FFF; 
}

#white-text {
	color:#FFF;
}


/*  SECTIONS  */
/*  SECTIONS  */
/*  SECTIONS  */

.section-prospective-students .section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.section-prospective-students .header-background {
	background-image:url('images/header-background.jpg');
	background-repeat:no-repeat;
background-position: top center;	
}


.section-prospective-students .col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.section-prospective-students .group:before,
.section-prospective-students .group:after {
	content:"";
	display:table;
}
.section-prospective-students .group:after {
	clear:both;
}

/* logo section */
.section-prospective-students .logo-background {
	background-image:none;
	background-color:#E3AE24;
}

.section-prospective-students #logo img {
	display:block;
	margin:0 auto;
}

/* header section */
.section-prospective-students .job-title-slideshow-wrapper { 
   position: absolute; 
   top: 80%; 
   left: 22.5%; 
   width: 77.5%;
   color:#FFF; 
}

.section-prospective-students .job-title-slideshow-wrapper .job-title-slideshow-static {
	float:left;
	clear:both;
	border-top:10px solid #FFF;
	margin-top:5px;
	padding-right:5px;
	
}

.section-prospective-students .job-title-slideshow-wrapper .job-title-slideshow-dynamic {
	float:left;
	width:400px;
	padding-left:15px;
	margin-top:15px;
}


/* stats section */
.section-prospective-students .span_4_of_4 {
	width: 23%;
}
.section-prospective-students .span_3_of_4 {
	width: 23%;
}
.section-prospective-students .span_2_of_4 {
	width: 23%;
}
.section-prospective-students .span_1_of_4 {
	width: 23%;
}
.section-prospective-students #stats {
	background-color:#06050d;
	padding-top:30px;
}
.section-prospective-students .stats-background {
	background-image:none;
	background-color:#06050d;
}

/* companies section  */
.section-prospective-students .span_3_of_3 {
	width: 32%;
}
.section-prospective-students .span_2_of_3 {
	width: 32%;
}
.section-prospective-students .span_1_of_3 {
	width: 30%;
}

.section-prospective-students .companies-background {
	background-image:none;
	background-color:#373737;
}

.section-prospective-students #companies {
	padding-top:30px;
}



/* world section  */
.section-prospective-students .span1_3_of_3 {
	width: 25%;
}
.section-prospective-students .span1_3_of_3 #bottom{
	position:absolute; 
	bottom:-420px;
}
.section-prospective-students .span1_2_of_3 {
	width: 18%;
}
.section-prospective-students .span1_1_of_3 {
	width: 42%;
}
.section-prospective-students .world-background {
	background-image:url('images/world-bg.jpg');
	background-repeat:no-repeat;
	background-position: bottom center;	
	min-height:600px;
	background-color:#06050d;
}

.section-prospective-students #world-text { 
   position: relative;
   color:#FFF;
   margin-top:90px;
   left: 3%; 
   width: 97%;
   line-height:0.8;
}

.section-prospective-students .world-words {
	font-size:15px;
	margin-left:13px;
	margin-top:12px;
}

/* degrees section  */
.section-prospective-students .span2_3_of_3 {
	width: 33%;
}
.section-prospective-students .span2_2_of_3 {
	width: 29%;
}
.section-prospective-students .span2_1_of_3 {
	width: 29%;
}

.section-prospective-students .degrees-background {
	background-image:url('images/degrees-background.png');
	background-repeat:no-repeat;
	background-position: bottom center;	
	background-color:#373737;
}
.section-prospective-students #degree-text { 
   position: relative;
   color:#FFF;
   margin-top:30px;
   left: 3%; 
   width: 97%;
   line-height:0.8;
}
.section-prospective-students ul {
   list-style-type:none;
   color:#FFF;
   left: 3%; 
   line-height:1.8;
   font-size:12px;
}

.section-prospective-students a:link, .section-prospective-students a:active, .section-prospective-students a:visited {
   color:#b0d2d8 !important;
}

.section-prospective-students h4 {
   color:#FFF;
   margin-left:20px; 
   margin-top:20px;
}

/* Polytech section  */
.section-prospective-students .poly-background {
	background-image:none;
	background-color:#000000;
}

.section-prospective-students #poly-text { 
   position: relative;
   color:#FFF;
   margin-top:30px;
   margin-bottom:30px;
   left: 3%; 
   width: 97%;
   line-height:0.8;
}

.section-prospective-students .poly-words {
	margin-left:30px;
}

.section-prospective-students .poly-video {
	margin-bottom:20px;
	margin-left:30px;	
}

iframe {
	overflow:hidden;
}

/* change section  */
.section-prospective-students .change-background {
	background-image:none;
	background-color:#86b1b9;
}

.section-prospective-students .change img {
	display:block;
	margin:0 auto;
}


/* END OF SECTIONS  */
/* BEGIN RESPONSIVE  */

@media only screen
and (min-width : 0px)
and (max-width : 560px) {
	
.section-prospective-students .col { 
		margin: 1% 0 1% 0%;
	}
	
.section-prospective-students .super-size {
	font-size:1.5em !important;
	line-height:1.1em !important;
}

.section-prospective-students #companies p, .section-prospective-students .gain p, .section-prospective-students #poly p {
	margin-right:10px;
}

/* header section */
.section-prospective-students .job-title-slideshow-wrapper {
	display:none;
}

/* stats section  */
.section-prospective-students .span_1_of_4 {
		width: 100%;
	}
.section-prospective-students .span_2_of_4 {
		width: 100%;
	}
.section-prospective-students .span_3_of_4 {
		width: 100%;
	}
.section-prospective-students .span_4_of_4 {
		width: 100%;
	}
.section-prospective-students .span_1_of_4 img {
		display:block;
 	    margin:auto;
		align:center;	
	}
.section-prospective-students .span_2_of_4 img {
		display:block;
 	    margin:auto;
		align:center;	
	}
.section-prospective-students .span_3_of_4 img {
		display:block;
 	    margin:auto;
		align:center;	
	}
.section-prospective-students .span_4_of_4 img {
		display:block;
 	    margin:auto;
		align:center;	
	}
	
			
/* companies section  */
.section-prospective-students .span_3_of_3 {
		width: 100% !important;
}
.section-prospective-students .span_2_of_3 {
		width: 100% !important;
}
.section-prospective-students .span_1_of_3 {
		width: 100% !important;
		text-align:center;
}
.section-prospective-students .span_3_of_3 img {
		display:block;
 	    margin:auto;
		align:center;	
	}
.section-prospective-students .span_2_of_3 img {
		display:block;
 	    margin:auto;
		align:center;	
	}
.section-prospective-students .span_1_of_3 img {
		display:block;
 	    margin:auto;
		align:center;	
	}


/* degrees section  */
.section-prospective-students .span2_3_of_3 {
		width: 100%;
}
.section-prospective-students .span2_2_of_3 {
		width: 100%;
}
.section-prospective-students .span2_1_of_3 {
		width: 100%;
}

.section-prospective-students .degrees-background {
	background-image:none;
}

.section-prospective-students .degrees-background li {
	line-height:1.1;
	padding-top:5px;
}
		
		
/* world section  */
.section-prospective-students .span1_3_of_3 {
		width: 100% !important;
}
.section-prospective-students .span1_3_of_3 #bottom{
	display:none !important;
}
.section-prospective-students .span1_2_of_3 {
		width: 100% !important;
}
.section-prospective-students .span1_1_of_3 {
		width: 100% !important;
}

.section-prospective-students .world-words {
	font-size:12px;
	margin-left:13px;
	margin-top:12px;
}

/* poly section  */
.section-prospective-students .poly-video {
	display:none;
}

.section-prospective-students .poly-words {
	margin-left:10px;
}

.section-prospective-students #poly {
	padding-bottom:30px;	
}

              /* makes company section taller for logos  
.section-prospective-students .gain {
	margin-top:160px !important;	
}*/

		
}


@media only screen
and (min-width : 561px)
and (max-width : 800px) {
	
.section-prospective-students .col { 
		margin: 1% 0 1% 0%;
	}
	
.section-prospective-students .super-size {
	font-size:1.8em !important;
	line-height:1.1em !important;
}

.section-prospective-students #companies p, .section-prospective-students .gain p, .section-prospective-students #poly p {
	margin-right:10px;
}

.section-prospective-students #white-text {
	padding-left:12px;
}

/* header section */
.section-prospective-students .job-title-slideshow-wrapper {
	display:none;
}

/* stats section  */
.section-prospective-students .span_1_of_4 {
		width: 50%;
	}
.section-prospective-students .span_2_of_4 {
		width: 50%;
	}
.section-prospective-students .span_3_of_4 {
		width: 50%;
	}
.section-prospective-students .span_4_of_4 {
		width: 50%;
	}
.section-prospective-students .span_1_of_4 img {
		display:block;
 	    margin:auto;
		align:center;	
	}
.section-prospective-students .span_2_of_4 img {
		display:block;
 	    margin:auto;
		align:center;	
	}
.section-prospective-students .span_3_of_4 img {
		display:block;
 	    margin:auto;
		align:center;	
	}
.section-prospective-students .span_4_of_4 img {
		display:block;
 	    margin:auto;
		align:center;	
	}
	
			
/* companies section  */
.section-prospective-students .span_3_of_3 {
		width: 50% ;
}
.section-prospective-students .span_2_of_3 {
		width: 50%;
}
.section-prospective-students .span_1_of_3 {
		width: 100%;
		text-align:center;
}
.section-prospective-students .span_3_of_3 img {
		display:block;
 	    margin:auto;
		align:center;	
	}
.section-prospective-students .span_2_of_3 img {
		display:block;
 	    margin:auto;
		align:center;	
	}
.section-prospective-students .span_1_of_3 img {
		display:block;
 	    margin:auto;
		align:center;	
	}


/* degrees section  */
.section-prospective-students .span2_3_of_3 {
		width: 30%;
}
.section-prospective-students .span2_2_of_3 {
		width: 30%;
}
.section-prospective-students .span2_1_of_3 {
		width: 30%;
}

.section-prospective-students .degrees-background {
	background-image:none;
}
		
.section-prospective-students .degrees-background ul {
	
}

.section-prospective-students .degrees-background li {
}
		
.section-prospective-students .degrees-background li {
	line-height:1.1;
	padding-top:5px;
}
		
/* world section  */
.section-prospective-students .span1_3_of_3 {
		width: 100% !important;
}
.section-prospective-students .span1_3_of_3 #bottom{
	display:none !important;
}
.section-prospective-students .span1_2_of_3 {
		width: 100% !important;
}
.section-prospective-students .span1_1_of_3 {
		width: 100% !important;
}

.section-prospective-students .world-words {
	font-size:12px;
	margin-left:13px;
	margin-top:12px;
}

.section-prospective-students #world-text { 
   margin-top:200px;
}

/* poly section  */
.section-prospective-students .poly-video {
	display:none;
}

.section-prospective-students .poly-words {
	margin-left:10px;
}

.section-prospective-students #poly {
	padding-bottom:30px;	
}

		
}