
.quicktabs_main.quicktabs-style-basic{
  background-color:#fff;
  border:1px solid #eee;
  border-top:none;
  padding:10px;
  clear:both;
}
ul.quicktabs-tabs.quicktabs-style-basic{
  border-bottom:1px solid #eee;
  padding:0 5px 0 0;
  font:bold 12px/19px Verdana !important;
  font-weight:bold;
  height:21px;
  margin:0;
}
ul.quicktabs-tabs.quicktabs-style-basic a{
  font:bold 12px/19px Verdana !important;
  text-decoration:none;
  color:#aaa;
}
ul.quicktabs-tabs.quicktabs-style-basic a:hover{
  color:#aaa;
}
ul.quicktabs-tabs.quicktabs-style-basic li{
  border:1px solid #e5e5e5;
  border-bottom:none;
  padding:5px 10px;
  margin:0 5px 0 0;
  position:relative;
}
ul.quicktabs-tabs.quicktabs-style-basic li:hover{
  border:1px solid #aaa;
  border-bottom:none;
  background-color:#faf9f9;
}
ul.quicktabs-tabs.quicktabs-style-basic li.active{
  border:1px solid #eee;
  border-bottom:1px solid #fff;
  background-color:#faf9f9;
}
ul.quicktabs-tabs.quicktabs-style-basic li.active a{
  color:#5c7688;
}
